<!DOCTYPE html>
<html>
	<head>

		<title>3rd Cultura Inglesa's Spelling Bee </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Oswald:700|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='./public/stylesheets/style.css' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

	</head>
	
	<body>
	<script src="./public/javascripts/engineJunior.js"></script>
<div class='name-popup' id='name-popup'>
			<fieldset class='popup-fieldset'>
				<h3>What's your Nickname?</h3>
				<input id="nickname" type="text" autocomplete="off" placeholder="What's your nickname?">
				<button id='name-ok'>OK!</button>
			</fieldset>
		</div>
		<div id="loading"><div class="spinningCircle"></div></div>

		<div class="grid">

			<div class='row'>

				<div class='col-1'>
				<img id= 'queenBeeLeft' src='public/images/queenbee.png' alt='queenbee'>
				</div>
				<div class='col-10'>
				<h1>Cultura Inglesa's <br> Spelling Bee </h1>
				</div>
				<div class='col-1'>
				<img id= 'queenBeeRight' src='public/images/queenbee.png' alt='queenbee'>
				</div>
		
			</div>
			<div class='row'>

				<div class = 'col-12'>

					<a class="returnbutton" id="return" href="/">Return</a>

				</div>

			</div>
			<div class='row'>
				<div class='col-3'></div>
				<div class='col-6 name-display'>
					<p><span class ='displayOption' id='nameDisplay'></span> <span class='displayOption'><span id="points">0</span> point(s)</span></p>
				</div>
				<div class='col-3'></div>
			</div>
			<div class = 'row'>
				<div class = 'col-12'>
					<fieldset class='text-center fieldset'>
						<legend><strong>Basic</strong></legend>
						<input id="newword" type="button" value="New Word" class="gamebuttons">
						<input id="repeat" type="button" value = "Repeat" class="gamebuttons">
						<input id="answer" class='spellInput' type="text" autocomplete="off" placeholder="Spell the word here!">
						<input id="submit" type="button" value = "Check" class="gamebuttons">
						<input id="revealButton" type="button" value = "Reveal" class="gamebuttons">
						<p id ="result" class='output'></p>
						<p id="reveal" class='output'></p>
					</fieldset>
				</div>
			</div>
			<h2 class='text-center'>Rank</h2>
			<div class='row'>
				<div class='col-3'></div>
				<table class='col-6 rankList' id="rankList">
					<thead>
						<tr>
							<td>Name</td>
							<td>Points</td>
						</tr>
					</thead>
				</table>
				<div class='col-3'></div>
			</div>
		</div>
	<audio id="player"></audio>
	<script>
		document.getElementById('name-ok').onclick = getName;
	</script>
</body>
</html>