<!DOCTYPE html>
<html>
	<head>
		<title>3rd Cultura Inglesa's Spelling Bee </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Oswald:700|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='./public/stylesheets/style.css' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div class="grid">

			<div class='row'>

				<div class='col-1' id = "bee1">
				<img src='public/images/queenbee.png' alt='queenbee' id= 'queenBeeLeft'>
				</div>
				<div class='col-10'>
				<h1>Cultura Inglesa's <br> Spelling Bee </h1>
				</div>
				<div class='col-1' id="bee2">
				<img id= 'queenBeeRight'  src='public/images/queenbee.png' alt='queenbee'>
				</div>
		
			</div>

			<div class='row'>
				<div class = 'col-12'>	
					<a href="/list" class="button">Words</a>
				</div>
				<div class = 'col-12'>
				<a href="/gameJunior" class="button">Game - Junior</a>
				</div>
				<div class = 'col-12'>
				<a href="/gameBasic" class="button">Game - Basic</a>
				</div>
			</div>

		</div>
	</body>
</html>