

<!DOCTYPE html>
<html>
    <head>
        <title>3rd Cultura Inglesa's Spelling Bee </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald:700|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href='./public/stylesheets/style.css' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="grid">
            <div class='row'>
                <div class='col-1'>
                    <img id= 'queenBeeLeft' src='public/images/queenbee.png' alt='queenbee'>
                </div>
                <div class='col-10'>
                    <h1>Cultura Inglesa's <br> Spelling Bee </h1>
                </div>
                <div class='col-1'>
                    <img id= 'queenBeeRight' src='public/images/queenbee.png' alt='queenbee'>
                </div>
            </div>
            <div class='row'>
                <div class = 'col-12'>
                    <a class="returnbutton" href="/">Return</a>
                </div>
            </div>
                <div class='tables'>
                        <h3><strong>Basic 1, 2, 3 and 4</strong>
                        </h3>
                        <h3>Easy</h3>
                    <ul class='basictable' id='easy'>
                            <li>January</li>
                            <li>February</li>
                            <li>March</li>
                            <li>April</li>
                            <li>May</li>
                            <li>June</li>
                            <li>July</li>
                            <li>August</li>
                            <li>September</li>
                            <li>October</li>
                        
                        
                            <li>November</li>
                            <li>December</li>
                            <li>Milk</li>
                            <li>Coffee</li>
                            <li>Cookie</li>
                            <li>Clock</li>
                            <li>Door</li>
                            <li>Nickname</li>
                            <li>Window</li>
                            <li>Borrow</li>
                            <li>lend</li>
                            <li>close</li>
                            <li>open</li>
                            <li>first</li>
                            <li>second</li>
                            <li>third</li>
                            <li>Birthday</li>
                            <li>Apple</li>
                            <li>Bacon</li>
                            <li>Banana</li>
                            <li>Breakfast</li>
                            <li>Butter</li>
                            <li>Cake</li>
                            <li>Cereal</li>
                            <li>Chocolate</li>
                            <li>Eggs</li>
                            <li>Fruit</li>
                            <li>Jam</li>
                            <li>Soup</li>
                            <li>Tea</li>
                            <li>Toast</li>
                            <li>Gallery</li>
                            <li>Bank</li>
                            <li>Café</li>
                            <li>Chemist</li>
                            <li>Cinema</li>
                            <li>Church</li>
                            <li>Hospital</li>
                            <li>Library</li>
                            <li>Park</li>
                            <li>Pub</li>
                            <li>Restaurant</li>
                            <li>Supermarket</li>
                            <li>Telephone</li>
                            <li>Underground</li>
                            <li>Zoo</li>
                            <li>Flat</li>
                            <li>House</li>
                            <li>Bathroom</li>
                            <li>Bedroom</li>
                            <li>Garage</li>
                            <li>Garden</li>
                            <li>Hall</li>
                            <li>Kitchen</li>
                            <li>Toilet</li>
                            <li>Bed</li>
                            <li>Chair</li>
                            <li>table</li>
                            <li>Sofa</li>
                            <li>Bath</li>
                    </ul>
                    <h3>Medium</h3>
                    <ul class='basictable ' id='medium'>
                            <li>Difficult</li>
                            <li>Expensive</li>
                            <li>Handsome</li>
                            <li>Intelligent</li>
                            <li>Interesting</li>
                            <li>Worse</li>
                            <li>Abseiling</li>
                            <li>Bowling</li>
                            <li>Cycling</li>
                            <li>Dancing</li>
                            <li>Jogging</li>
                            <li>Skating</li>
                            <li>Swimming</li>
                            <li>Rafting</li>
                            <li>Autumn</li>
                            <li>Spring</li>
                            <li>Summer</li>
                            <li>Winter</li>
                            <li>East</li>
                            <li>North</li>
                            <li>South</li>
                            <li>West</li>
                            <li>Temperature</li>
                            <li>Weather</li>
                            <li>Cloudy</li>
                            <li>Raining</li>
                            <li>Snowing</li>
                            <li>Sunny</li>
                            <li>Windy</li>
                            <li>Campsite</li>
                            <li>Forest</li>
                            <li>Mountain</li>
                            <li>Waterfall</li>
                            <li>Worst</li>
                            <li>Breakfast</li>
                            <li>Midday</li>
                            <li>Midnight</li>
                            <li>scooter</li>
                            <li>Bicycle</li>
                            <li>Motorcycle</li>
                            <li>Canteen</li>
                            <li>Barbecue</li>
                            <li>Museum</li>
                            <li>Party</li>
                            <li>Always</li>
                            <li>Usually</li>
                            <li>Often</li>
                            <li>Sometimes</li>
                            <li>Tooth</li>
                            <li>Teeth</li>
                    </ul>
                    <h3>Hard</h3>
                    <ul class='basictable ' id = "hard">
                            <li>Souvenir</li>
                            <li>Sightseeing</li>
                            <li>Parasailing</li>
                            <li>Trekking</li>
                            <li>Sunbathing</li>
                            <li>Thirty-first</li>
                            <li>Endangered</li>
                            <li>Successful</li>
                            <li>Hammock</li>
                            <li>Handicraft</li>
                            <li>Twenty-sixth</li>
                            <li>Twenty-seventh</li>
                            <li>Twenty-eight</li>
                            <li>Twenty-ninth</li>
                            <li>Thirtieth</li>
                            <li>Twenty-first</li>
                            <li>Twenty-second</li>
                            <li>Twenty-third</li>
                            <li>Twenty-fourth</li>
                            <li>Twenty-fifth</li>
                            <li>Sixteenth</li>
                            <li>Seventeenth</li>
                            <li>Eighteenth</li>
                            <li>Nineteenth</li>
                            <li>Twentieth</li>
                            <li>Eleventh</li>
                            <li>Twelfth</li>
                            <li>Thirteenth</li>
                            <li>Fourteenth</li>
                            <li>Fifteenth</li>
                            <li>Fifth</li>
                            <li>Sixth</li>
                            <li>Eighth</li>
                            <li>Ninth</li>
                            <li>Tenth</li>
                            <li>Strategy</li>
                            <li>Horoscope</li>
                            <li>Interview</li>
                            <li>Puzzle</li>
                            <li>Fourth</li>
                            <li>Firefighter</li>
                            <li>Sensational</li>
                            <li>Adventure</li>
                            <li>Educational</li>
                            <li>Simulation</li>
                            <li>Research</li>
                            <li>High</li>
                            <li>Lonely</li>
                            <li>Businessman</li>
                            <li>Businesswoman</li>
                            <li>Suddenly</li>
                            <li>Aunt</li>
                            <li>Disgusting</li>
                            <li>Embarrassing</li>
                            <li>Average</li>
                            <li>Investigate</li>
                            <li>Liner</li>
                            <li>Luxury</li>
                            <li>Passenger</li>
                            <li>Voyage</li>
                            <li>Scratch</li>
                            <li>Behave</li>
                            <li>Blackout</li>
                            <li>Government</li>
                            <li>Devastate</li>
                            <li>Deadline</li>
                            <li>Electricity</li>
                            <li>Essay</li>
                            <li>Neighbor</li>
                    </ul>
                </div>
        </div>
    </body>
</html>

