<!DOCTYPE html>
<html>
   <head>
      <title>3rd Cultura Inglesa's Spelling Bee </title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Oswald:700|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href='./public/stylesheets/style.css' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="grid">
         <div class='row'>
            <div class='col-1'>
               <img id= 'queenBeeLeft' src='public/images/queenbee.png' alt='queenbee'>
            </div>
            <div class='col-10'>
               <h1>Cultura Inglesa's <br> Spelling Bee </h1>
            </div>
            <div class='col-1'>
               <img id= 'queenBeeRight' src='public/images/queenbee.png' alt='queenbee'>
            </div>
         </div>
         <div class='row'>
            <div class = 'col-12'>
               <a class="returnbutton" href="/">Return</a>
            </div>
         </div>
         <div class = 'tables'>
            <h3>
            <strong>Junior A, B, C and D</strong>
            <h3>
            <h3>Easy</h3>
            <ul class='juniortable' id="easy" >
               <li>awesome
               <li>party
               <li>march
               <li>june
               <li>tall
               <li>august
               <li>chips
               <li>brazilian
               <li>famous
               <li>boring
               <li>karate
               <li>italian
               <li>december
               <li>rap
               <li>rock
               <li>month
               <li>mango
               <li>site
               <li>shop
               <li>february
               <li>comics
               <li>Red
               <li>Orange
               <li>Pink
               <li>Yellow
               <li>Black 
               <li>Blue 
               <li>Brown
               <li>Green
               <li>Portugal
               <li>Eleven
               <li>Camera
               <li>Telephone
               <li>july
               <li>birthday
               <li>Eight
               <li>Nine
               <li>home
               <li>november
               <li>Ten
               <li>Five
               <li>april
               <li>may
               <li>Six
               <li>Seven
               <li>great
               <li>january
               <li>Two
               <li>Three
               <li>Four
               <li>Cute
               <li>Rude
               <li>Taxi
               <li>Diary
               <li>One
               <li>Hello
               <li>Bad
               <li>Box
               <li>Cool
               <li>download
               <li>Name
               <li>Yes
               <li>No
               <li>Music
               <li>country
               <li>Girl
               <li>Friend
               <li>blog
               <li>nickname
               <li>Monster
            </ul>
            <h3>Medium</h3>
            <ul class='juniortable ' id='medium'>
               <li>player</li>
               <li>poster</li>
               <li>japan</li>
               <li>Sweets</li>
               <li>chips</li>
               <li>father</li>
               <li>portuguse</li>
               <li>brazil</li>
               <li>england</li>
               <li>Once</li>
               <li>brother</li>
               <li>happy</li>
               <li>small</li>
               <li>beans</li>
               <li>english</li>
               <li>busy</li>
               <li>big</li>
               <li>fish</li>
               <li>sushi</li>
               <li>author</li>
               <li>Nice</li>
               <li>Board</li>
               <li>Alphabet</li>
               <li>sister</li>
               <li>luck</li>
               <li>Hamburger</li>
               <li>Spider</li>
               <li>rich</li>
               <li>fog</li>
               <li>Bat</li>
               <li>Sharpener</li>
               <li>Twice</li>
               <li>german</li>
               <li>Polite</li>
               <li>Fantastic</li>
               <li>pasta</li>
               <li>african</li>
               <li>Bin</li>
               <li>Horrible</li>
               <li>Mad</li>
               <li>rice</li>
               <li>Notebook</li>
               <li>Pen</li>
               <li>Pencil</li>
               <li>Ruler</li>
               <li>Twelve</li>
               <li>Old</li>
               <li>Book</li>
               <li>Eraser</li>
               <li>School</li>
               <li>Dog</li>
               <li>Cat</li>
               <li>Classroom</li>
               <li>mother</li>
               <li>robot</li>
               <li>Dictionary</li>
               <li>Birthday</li>
               <li>italy</li>
               <li>germany</li>
               <li>Boring</li>
               <li>Present</li>
               <li>thin</li>
               <li>africa</li>
               <li>Toy</li>
               <li>Big</li>
               <li>chubby</li>
               <li>Angry</li>
               <li>Guitar</li>
               <li>Football</li>
               <li>Mobile</li>
               <li>spanish</li>
               <li>Ugly</li>
               <li>Bike</li>
               <li>Computer</li>
               <li>Game</li>
               <li>Grey</li>
               <li>White</li>
               <li>Purple</li>
               <li>Colour</li>
               <li>Doll</li>
            </ul>
            <h3>Hard</h3>
            <ul class='juniortable ' id='hard'>
               <li>Sandwich</li>
               <li>Horse</li>
               <li>Chair</li>
               <li>Clock</li>
               <li>newspaper</li>
               <li>swimming</li>
               <li>Cupboard</li>
               <li>Chicken</li>
               <li>Shelf</li>
               <li>Desk</li>
               <li>Pocket</li>
               <li>aunt</li>
               <li>Crazy</li>
               <li>Hungry</li>
               <li>Cage</li>
               <li>Elephant</li>
               <li>pirate</li>
               <li>beard</li>
               <li>Hippo</li>
               <li>Monkey</li>
               <li>Mice</li>
               <li>Lizard</li>
               <li>island</li>
               <li>armchair</li>
               <li>Student</li>
               <li>Teacher</li>
               <li>Clown</li>
               <li>Cow</li>
               <li>parrot</li>
               <li>helmet</li>
               <li>Playground</li>
               <li>September</li>
               <li>Costume</li>
               <li>detective</li>
               <li>monkey</li>
               <li>unlucky</li>
               <li>Water</li>
               <li>Hat</li>
               <li>Duck</li>
               <li>Party</li>
               <li>hospital</li>
               <li>Sausages</li>
               <li>Pirate</li>
               <li>Witch</li>
               <li>Goat</li>
               <li>Collection</li>
               <li>grandfather</li>
               <li>Invitation</li>
               <li>Trading</li>
               <li>Magazine</li>
               <li>Umbrella</li>
               <li>Tennis</li>
               <li>Mouse</li>
               <li>Frog</li>
               <li>Cockroach</li>
               <li>Sheep</li>
               <li>Ghost</li>
               <li>Awesome</li>
               <li>Rabbit</li>
               <li>everybody</li>
               <li>arm</li>
               <li>mouth</li>
               <li>burguers</li>
               <li>landmark</li>
               <li>treasure</li>
               <li>scary</li>
               <li>Snake</li>
               <li>Funny</li>
               <li>beach</li>
               <li>character</li>
               <li>boat</li>
               <li>rubbish</li>
               <li>Year</li>
               <li>shark</li>
               <li>October</li>
            </ul>
         </div>
      </div>
      </div>
   </body>
</html>