<!DOCTYPE html>
<html>
	<head>
		<title>3rd Cultura Inglesa's Spelling Bee </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link href='https://fonts.googleapis.com/css?family=Oswald:700|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='./public/stylesheets/style.css' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="grid">

			<div class='row'>

				<div class='col-1'>
				<img id= 'queenBeeLeft' src='public/images/queenbee.png' alt='queenbee'>
				</div>
				<div class='col-10'>
				<h1>Cultura Inglesa's <br> Spelling Bee </h1>
				</div>
				<div class='col-1'>
				<img id= 'queenBeeRight' src='public/images/queenbee.png' alt='queenbee'>
				</div>
		
			</div>
			<div class='row'>

				<div class = 'col-12'>

					<a class="returnbutton" href="/">Return</a>

				</div>

			</div>

			<div class='row'>
				<div class = 'col-5'>

					<table class=juniortable id="easy" >
						<caption><strong>Junior B, C and D</strong><caption>
								<caption>Easy</caption>
								<tr>
								<td>awesome
								<td>party
								<td>march
								<td>june
								<td>tall
								</tr>
								<tr>
								<td>august
								<td>chips
								<td>brazilian
								<td>famous
								<td>boring
								</tr>
								<tr>
								<td>karate
								<td>italian
								<td>december
								<td>rap
								<td>rock
								</tr>
								<tr>
								<td>month
								<td>mango
								<td>site
								<td>shop
								<td>february
								</tr>
								<tr>
								<td>comics
								<td>Red
								<td>Orange
								<td>Pink
								<td>Yellow
								</tr>
								<tr><td>Black 
								<td>Blue 
								<td>Brown
								<td>Green
								<td>Portugal
								</tr>
								<tr>
								<td>Eleven
								<td>Camera
								<td>Telephone
								<td>july
								<td>birthday
								</tr>
								<tr><td>Eight
								<td>Nine
								<td>home
								<td>november
								<td>Ten
								</tr>
								<tr>
								<td>Five
								<td>april
								<td>may
								<td>Six
								<td>Seven
								</tr>
								<tr>
								<td>great
								<td>january
								<td>Two
								<td>Three
								<td>Four
								</tr>
								<tr>
								<td>Cute
								<td>Rude
								<td>Taxi
								<td>Diary
								<td>One
								</tr>
								<tr>
								<td>Hello
								<td>Bad
								<td>Box
								<td>Cool
								<td>download
								</tr>
								<tr>
								<td>Name
								<td>Yes
								<td>No
								<td>Music
								<td>country</tr>
								<tr>
								<td>Girl
								<td>Friend
								<td>blog
								<td>nickname
								<td>Monster
								</tr>
								</table>

				</div>

				<div class = 'col-1'>
				</div>

				<div class = 'col-5'>

					<table class=basictable id='easy'>
					<caption><strong>Basic 2, 3, 4, 5 and 6</strong><caption>
					<caption>Easy</caption>
				<tr>
					<td>January</td>
					<td>February</td>
					<td>March</td>
					<td>April</td>
					<td>May</td>
				</tr>
				<tr>
					<td>June</td>
					<td>July</td>
					<td>August</td>
					<td>September</td>
					<td>October</td>
				</tr>
				<tr>
					<td>November</td>
					<td>December</td>
					<td>Milk</td>
					<td>Coffee</td>
					<td>Cookie</td>
				</tr>
				<tr>
					<td>Clock</td>
					<td>Door</td>
					<td>Nickname</td>
					<td>Window</td>
					<td>Borrow</td>
				</tr>
				<tr>
					<td>lend</td>
					<td>close</td>
					<td>open</td>
					<td>first</td>
					<td>second</td>
				<tr>
					<td>third</td>
					<td>Birthday</td>
					<td>Apple</td>
					<td>Bacon</td>
					<td>Banana</td>
				</tr>
				<tr>
					<td>Breakfast</td>
					<td>Butter</td>
					<td>Cake</td>
					<td>Cereal</td>
					<td>Chocolate</td>
				</tr>
				<tr>
					<td>Eggs</td>
					<td>Fruit</td>
					<td>Jam</td>
					<td>Soup</td>
					<td>Tea</td>
				</tr>
				<tr>
					<td>Toast</td>
					<td>Gallery</td>
					<td>Bank</td>
					<td>Café</td>
					<td>Chemist</td>
				</tr>
				<tr>
					<td>Cinema</td>
					<td>Church</td>
					<td>Hospital</td>
					<td>Library</td>
					<td>Park</td>
				</tr>
				<tr>
					<td>Pub</td>
					<td>Restaurant</td>
					<td>Supermarket</td>
					<td>Telephone</td>
					<td>Underground</td>
				</tr>
				<tr>
					<td>Zoo</td>
					<td>Flat</td>
					<td>House</td>
					<td>Bathroom</td>
					<td>Bedroom</td>
				</tr>
				<tr>
					<td>Garage</td>
					<td>Garden</td>
					<td>Hall</td>
					<td>Kitchen</td>
					<td>Toilet</td>
				</tr>
				<tr>
					<td>Bed</td>
					<td>Chair</td>
					<td>Table</td>
					<td>Sofa</td>
					<td>Bath</td>

				</tr>
				</table>

				</div>

			</div>

			<div class='row'>

				<div class = 'col-5'>
				
					<table class=juniortable id='medium'>
					<caption>Medium</caption>
					<tr>
					<td>player</td>
					<td>poster</td>
					<td>japan</td>
					<td>Sweets</td>
					<td>chips</td>
					</tr>
					<tr>
					<td>father</td>
					<td>portuguse</td>
					<td>brazil</td>
					<td>england</td>
					<td>Once</td>
					</tr>
					<tr>
					<td>brother</td>
					<td>happy</td>
					<td>small</td>
					<td>beans</td>
					<td>english</td>
					</tr>
					<tr>
					<td>busy</td>
					<td>big</td>
					<td>fish</td>
					<td>sushi</td>
					<td>author</td>
					</tr>
					<tr>
					<td>Nice</td>
					<td>Board</td>
					<td>Alphabet</td>
					<td>sister</td>
					<td>luck</td>
					</tr>
					<tr>
					<td>Hamburger</td>
					<td>Spider</td>
					<td>rich</td>
					<td>fog</td>
					<td>Bat</td>
					</tr>
					<tr><td>Sharpener</td>
					<td>Twice</td>
					<td>german</td>
					<td>Polite</td>
					<td>Fantastic</td>
					</tr>
					<tr>
					<td>pasta</td>
					<td>african</td>
					<td>Bin</td>
					<td>Horrible</td>
					<td>Mad</td>
					</tr>
					<tr>
					<td>rice</td>
					<td>Notebook</td>
					<td>Pen</td>
					<td>Pencil</td>
					<td>Ruler</td>
					</tr>
					<tr>
					<td>Twelve</td>
					<td>Old</td>
					<td>Book</td>
					<td>Eraser</td>
					<td>School</td>
					</tr>
					<tr>
					<td>Dog</td>
					<td>Cat</td>
					<td>Classroom</td>
					<td>mother</td>
					<td>robot</td>
					</tr>
					<tr>
					<td>Dictionary</td>
					<td>Birthday</td>
					<td>italy</td>
					<td>germany</td>
					<td>Boring</td>
					</tr>
					<tr>
					<td>Present</td>
					<td>thin</td>
					<td>africa</td>
					<td>Toy</td>
					<td>Big</td>
					</tr>
					<tr>
					<td>chubby</td>
					<td>Angry</td>
					<td>Guitar</td>
					<td>Football</td>
					<td>Mobile</td>
					</tr>
					<tr>
					<td>spanish</td>
					<td>Ugly</td>
					<td>Bike</td>
					<td>Computer</td>
					<td>Game</td>
					</tr>
					<tr>
					<td>Grey</td>
					<td>White</td>
					<td>Purple</td>
					<td>Colour</td>
					<td>Doll</td>
					</tr>
					</table>
				</div>

				<div class = 'col-1'>
				</div>

				<div class = 'col-5'>

					<table class=basictable id='medium'>
						<caption>Medium</caption>
					<tr>
					<td>Difficult</td>
					<td>Expensive</td>
					<td>Handsome</td>
					<td>Intelligent</td>
					<td>Interesting</td>
					</tr>
					<tr>
						<td>Worse</td>
					<td>Abseiling</td>
					<td>Bowling</td>
					<td>Cycling</td>
					<td>Dancing</td>
					</tr>
					<tr>
						<td>Jogging</td>
					<td>Skating</td>
					<td>Swimming</td>
					<td>Rafting</td>
					<td>Autumn</td>
					</tr>
					<tr>
						<td>Spring</td>
					<td>Summer</td>
					<td>Winter</td>
					<td>East</td>
					<td>North</td>
					</tr>
					<tr>
						<td>South</td>
					<td>West</td>
					<td>Temperature</td>
					<td>Weather</td>
					<td>Cloudy</td>
					</tr>
					<tr>
						<td>Raining</td>
					<td>Snowing</td>
					<td>Sunny</td>
					<td>Windy</td>
					<td>Campsite</td>
					</tr>
					<tr>
						<td>Forest</td>
					<td>Mountain</td>
					<td>Waterfall</td>
					<td>Worst</td>
					<td>Breakfast</td>
					</tr>
					<tr>
						<td>Midday</td>
					<td>Midnight</td>
					<td>scooter</td>
					<td>Bicycle</td>
					<td>Motorcycle</td>
					</tr>
					<tr><td>Canteen</td>
					<td>Barbecue</td>
					<td>Museum</td>
					<td>Party</td>
					<td>Always</td>
					</tr>
					<tr>
						<td>Usually</td>
					<td>Often</td>
					<td>Sometimes</td>
					<td>Tooth</td>
					<td>Teeth</td>
					</tr>
					</table>

				</div>


			</div>

			<div class='row'>

				<div class = 'col-5'>
				

					<table class='juniortable' id='hard'>
					<caption>Hard</caption>
					<tr>
					<td>Sandwich</td>
					<td>Horse</td>
					<td>Chair</td>
					<td>Clock</td>
					<td>newspaper</td>
					</tr>
					<tr>
						<td>swimming</td>
					<td>Cupboard</td>
					<td>Chicken</td>
					<td>Shelf</td>
					<td>Desk</td>
					</tr>
					<tr><td>Pocket</td>
					<td>aunt</td>
					<td>Crazy</td>
					<td>Hungry</td>
					<td>Cage</td>
					</tr>
					<tr><td>Elephant</td>
					<td>pirate</td>
					<td>beard</td>
					<td>Hippo</td>
					<td>Monkey</td>
					</tr>
					<tr><td>Mice</td>
					<td>Lizard</td>
					<td>island</td>
					<td>armchair</td>
					<td>Student</td>
					</tr>
					<tr>
					<td>Teacher</td>
					<td>Clown</td>
					<td>Cow</td>
					<td>parrot</td>
					<td>helmet</td>
					</tr>
					<tr>
					<td>Playground</td>
					<td>September</td>
					<td>Costume</td>
					<td>detective</td>
					<td>monkey</td>
					</tr>
					<tr>
					<td>unlucky</td>
					<td>Water</td>
					<td>Hat</td>
					<td>Duck</td>
					<td>Party</td>
					</tr>
					<tr>
					<td>hospital</td>
					<td>Sausages</td>
					<td>Pirate</td>
					<td>Witch</td>
					<td>Goat</td>
					</tr>
					<tr>
					<td>Collection</td>
					<td>grandfather</td>
					<td>Invitation</td>
					<td>Trading</td>
					<td>Magazine</td>
					</tr>
					<tr>
					<td>Umbrella</td>
					<td>Tennis</td>
					<td>Mouse</td>
					<td>Frog</td>
					<td>Cockroach</td>
					</tr>
					<tr>
					<td>Sheep</td>
					<td>Ghost</td>
					<td>Awesome</td>
					<td>Rabbit</td>
					<td>everybody</td>
					</tr>
					<tr>
						<td>arm</td>
					<td>mouth</td>
					<td>burguers</td>
					<td>landmark</td>
					<td>treasure</td>
					</tr>
					<tr>
					<td>scary</td>
					<td>Snake</td>
					<td>Funny</td>
					<td>beach</td>
					<td>character</td>
					</tr>
					<tr>
					<td>boat</td>
					<td>rubbish</td>
					<td>Year</td>
					<td>shark</td>
					<td>October</td>
					</tr>
					</table>

				</div>

				<div class = 'col-1'>
				</div>

				<div class = 'col-5'>

					<table class=basictable id = "hard">
					<caption>Hard</caption>
					<tr>
					<td>Souvenir</td>
					<td>Sightseeing</td>
					<td>Parasailing</td>
					<td>Trekking</td>	
					<td>Sunbathing</td>
					</tr>
					<tr>
						<td>Thirty-first</td>
					<td>Endangered</td>
					<td>Successful</td>
					<td>Hammock</td>
					<td>Handicraft</td>
					</tr>
					<tr><td>Twenty-sixth</td>
					<td>Twenty-seventh</td>
					<td>Twenty-eight</td>
					<td>Twenty-ninth</td>
					<td>Thirtieth</td>
					</tr>
					<tr><td>Twenty-first</td>
					<td>Twenty-second</td>
					<td>Twenty-third</td>
					<td>Twenty-fourth</td>
					<td>Twenty-fifth</td>
					</tr>
					<tr>
						<td>Sixteenth</td>
					<td>Seventeenth</td>
					<td>Eighteenth</td>
					<td>Nineteenth</td>
					<td>Twentieth</td>
					</tr>
					<tr><td>Eleventh</td>
					<td>Twelfth</td>
					<td>Thirteenth</td>
					<td>Fourteenth</td>
					<td>Fifteenth</td>
					</tr>
					<tr><td>Fifth</td>
					<td>Sixth</td>
					<td>Eighth</td>
					<td>Ninth</td>
					<td>Tenth</td>
					</tr>
					<tr><td>Strategy</td>
					<td>Horoscope</td>
					<td>Interview</td>
					<td>Puzzle</td>
					<td>Fourth</td>
					</tr>
					<tr><td>Firefighter</td>
					<td>Sensational</td>
					<td>Adventure</td>
					<td>Educational</td>
					<td>Simulation</td>
					</tr>
					<tr><td>Research</td>
					<td>High</td>
					<td>Lonely</td>
					<td>Businessman</td>
					<td style="font-size:9px">Businesswoman</td>
					</tr>
					<tr><td>Suddenly</td>
					<td>Aunt</td>
					<td>Disgusting</td>
					<td>Embarrassing</td>
					<td>Average</td>
					</tr>
					<tr><td>Investigate</td>
					<td>Liner</td>
					<td>Luxury</td>
					<td>Passenger</td>
					<td>Voyage</td>
					</tr>
					<tr>
						<td>Scratch</td>
					<td>Behave</td>
					<td>Blackout</td>
					<td>Government</td>
					<td>Devastate</td>
					</tr>
					<tr>
					<td>Deadline</td>
					<td>Electricity</td>
					<td>Essay</td>
					<td>Neighbor</td>
					</tr>
					</table>

				</div>


			</div>

		</div>

	</body>
	</html>