/* xs < 768 */

@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}
/* sm */

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}
/* md */

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}
/* lg */

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-image: url("./../images/background.jpg");
}
fieldset {
    text-align: center;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}
#bee 1 {
    width: 8.33%;
    float: left;
}
#bee 2 {
    width: 8.33%;
    float: right;
}
#queenBeeLeft {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
}
#queenBeeRight {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    float: right;
}
h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: 68px;
    display: block;
    margin-bottom: 20px;
}
.button {
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 160%;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
    width: 100%;
}
.correct {
    padding: 15px 32px;
    text-align: center;
    background-color: #4DBD33;
    color: white;
    font-size: 140%;
}
.incorrect {
    padding: 15px 32px;
    text-align: center;
    background-color: #BE2625;
    color: white;
    font-size: 140%;
}
#reveal {
    padding: 15px 32px;
    text-align: center;
    color: black;
    font-size: 140%;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#result {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.returnbutton {
    background-color: gold;
    border: none;
    color: black;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
}
.gamebuttons {
    background-color: gold;
    border: 1px black solid;
    color: black;
    padding: 5%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    text-align: center;
}
.gamebuttons:disabled {
    background-color: #fff09d;
    color: #666;
    cursor: default;
}
#easy {
    background-color: #AFEEEE;
}
#medium {
    background-color: #90EE90;
}
#hard {
    background-color: gold;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'helvetica', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
th,
tr,
td {
    border: 1px solid black;
    padding: 5px;
}
.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    
    display: flex;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
}
.name-popup {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 11;
}
#loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 10;
}
.spinningCircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0);
    border-top-color: 4px solid #7fc4d1;
    border-right-color: 4px solid #7fc4d1;
    -webkit-animation: single2 4s infinite linear;
    animation: single2 4s infinite linear;
}
@-webkit-keyframes single2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
    50% {
        border-top-color: #1f4f58;
        border-right-color: #1f4f58;
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
}
@keyframes single2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
    50% {
        border-top-color: #1f4f58;
        border-right-color: #1f4f58;
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        border-top-color: #7fc4d1;
        border-right-color: #7fc4d1;
    }
}
.name-display {
    text-align: center;
}
.displayOption {
    background-color: gold;
    padding: 10px;
    font-size: 120%;
}
.rankList {
    font-size: 120%;
    background-color: gold;
    border-collapse:collapse;
}

.rankList > thead {
    background-color:#fff09d;
}

.text-center {
    text-align: center;
}